@model PagedList.IPagedList<MyBlogSefer.Models.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Preview
        </th>
        <th>
            Content
        </th>

        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            Author
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title_post)
              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content_post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_post }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_post }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_post })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))